# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts
ios/Pods/
ios/build/
android/.gradle/
android/app/build/

# Xcode
*.xcworkspace
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# misc
app-example
